In [16]:
import os
from datetime import datetime
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.set_option('future.no_silent_downcasting', True)
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
data = pd.read_csv("data/marketing_campaign.csv", sep="\t")
print("Number of datapoints:", len(data))
data.head()

Number of datapoints: 2240

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [18]:
#Drop NAN Values in Income
data = data.dropna()
data = data.dropna(subset=['Income'])

In [19]:
# Create numeric variables for categorical variables and summarize categories.
data["Marital_Status"] = data["Marital_Status"].replace({"Single":0, "Alone":1, "Together":2, "Married":3, "Divorced":4, "Widow":5, "YOLO":6, "Absurd":7})
data["Education"] = data["Education"].replace({"Basic":0, "2n Cycle":1, "Graduation":2, "Master":3, "PhD":4})

In [20]:
data['Dt_Customer'] = pd.to_datetime(data['Dt_Customer'], format='%d-%m-%Y')
latest_date = data['Dt_Customer'].max()
print(latest_date)

2014-06-29 00:00:00

In [21]:
#Preprocessing Dt_Customer to numerical format
data['Dt_Customer'] = data['Dt_Customer'].apply(lambda x: x.toordinal())

In [22]:
def download_dataframe_as_csv(data):
    downloads_folder = os.path.expanduser("~/Downloads")
    # Generate a timestamp
    timestamp = datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
    
    file_name = f"{timestamp}_unscaled_*.csv"
    file_path = os.path.join(downloads_folder, file_name)
    # Save the DataFrame as a CSV file
    data.to_csv(file_path, sep='\t', index=False)
    
    print("DataFrame has been saved as '{timestamp}_feature_unscaled.csv' in the Downloads folder.")

In [23]:
download_dataframe_as_csv(data)

DataFrame has been saved as '{timestamp}_feature_unscaled.csv' in the Downloads folder.